/* Generales */ 
:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark-purple);
    width: 100%;
    --dark-purple: #1e152aff;
    --deep-space-sparkle: #4e6766ff;
    --cadet-blue: #5ab1bbff;
    --pistachio: #a5c882ff;
    --jasmine: #f7dd72ff;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Index */

/* Header */

header {
    display: flex;
}

nav a {
    background: var(--color-primario);
    padding: 1rem 2rem;
}

nav a:hover {
    background: var(--jasmine);
    border-radius: 24px;
}

#buscador {
    border-radius: 24px;
    
}

#lupa {
    background-color: rgb(245, 230, 17);
    border-radius: 40px;
    
}

#nav-principal {
    height: 25px;
}

#nav-menu {
    display: flex;
    width: 100%;
    height: 90px;
    color: #fff;
    background-color: rgb(2, 2, 53);
    flex-direction: row;
    justify-content: space-evenly;
    
}

#nav-menu div {
    text-align: center;
}

/* Footer */

footer {
    background: var(--dark-purple);
}